<!DOCTYPE html>
<html>
<head>
	<title>draf</title>
	<link rel="stylesheet" href="style.css" type="text/css"></head>
<body>
	<nav class="menu">
		<ul class="menu_ul">
			<li>
				<a href="" title="">Post</a>
				<ul class="sub_ul">
					<li><a href="add.html" title="">Add new</a></li>
					<li><a href="draf.html" title="">Draf</a></li>
					<li><a href="post.html" title="">View post</a></li>
				</ul>
			</li>
			<li>
				<a href="" title="">Category</a>
				<ul class="sub_ul" >
					<li><a href="category.html" title="">Web</a></li>
					<li><a href="category.html" title="">Tutorial</a></li>
					<li><a href="category.html" title="">Design</a></li>
					<li><a href="category.html" title="">News</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<section class="main">
	<div class="main_page">
	<div class="draf">
		
	</div>
		
	</div>
		
	</section>
	<footer class="footer">
		<p>Copyright &copy; by Andriyas. All right reserved</p>
	</footer>

</body>
</html>