
html,body{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;


}


.body{
    width: 100%;

   
}
.header{
    font-family: arial, verdana;
   
    background-color: #271F1F;
    position: fixed;
    width: 100%;
    margin: 0;
}
.menu{
    margin: 0px auto;
    width:70%;    
     text-align: center;
}
.menu li{
    list-style: none;
    color:#fff;
     display: inline-block;
    padding: 20px 0px;
    margin-left: 10px;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 20px 5px;

-moz-transition: background-color .2s ease-in-out;
-webkit-transition: background-color .2s ease-in-out;
-o-transition: background-color .2s ease-in-out;
-ms-transition: background-color .2s ease-in-out;
transition: background-color .2s ease-in-out;

}

.menu li a:hover{
    background-color: #575050;
   
    
}
.box-horizon{
    
  
    -webkit-box-shadow  : 0px 1px 2px 1px #000;
        -moz-box-shadow : 0px 1px 2px 1px #000;
            box-shadow  : 0px 1px 2px 1px #000;
}
#top{
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 610px;
    box-shadow: 1px 3px 4px 1px #ccc;
}

.content{
    font-family: arial, verdana;
    background-color: #fff;
    padding: 10% 0px 0 0;
    margin: 0px auto;
    width: 80%;
   
    /* height: 329px; */
}
.content-text{
    margin-left: 7%;

    float: left;
    padding-left: 1%;
    width: 60%;
}
.content-text h1{
    color: #928787;

    font-size: 53px;
    font-weight: 100;
    letter-spacing: 0px;
    margin: 9px 0;
}
h1 strong{
    color: #181313;
    
    text-transform: capitalize;
}
.content-text p{
    color: #817676;

    font-size: 25px;
    text-align: left;
    /* float: left; */
    /* height: 100px; */
    margin-bottom: 30px;
}
.content-text a{
    text-decoration: none;
    
    background-color: #999;
    padding: 17px;
    border-radius: 5px;
    color: #fff;
}
.content-text a:hover{
    color:#000;
}
.content-image{
    float: left;

   
    
    margin-left: 5%;
    width: 20%;
    padding: 3%;
}
.content-image img{
    width: 100%;
}
.content-image .me{
    border-radius: 50%;
    overflow: hidden;
    /* display: inline-flex; */
}

/*list*/
#list{
    width: 100%;
    
    background-image: url('img/bg.png');
    box-shadow: 1px 3px 4px 1px #ccc;
}
.list-news{

    width: 80%;
    margin: 0px auto;
    overflow: auto;

    padding: 40px 0;
    
}
.list-news h1{
    text-align: center;

    font-family: sans-serif;
    margin-top: 18px;
}
.list-news h1 a {
    text-decoration: none;
    color: #000;
}
.list-news h1 a:hover {
    color: #999;
}
.list-news p{
    text-align: center;
    
    font-family: sans-serif;
    color: #615A5A;
    margin-bottom: 36px;
}
.box{
    width: 60%;
    
    height: 824px;
    margin: 0 auto;
    padding: 0;
}
.box-content{
    border: 1px solid #ccc;
    
    box-shadow: 1px 3px 4px 1px #ccc;
    padding: 1%;
}


.list-content{

    width: 40%;
    text-align: center;
    float: left;
    
  
    
  
    

    padding: 1% 1%;
    

    margin: 1% 4%;

}

.list-image{
    width: 100%;

    margin-top: 1%;
}
.list-image img{
    width: 95%;

}
.list-text{

}
.list-text h1{
    font-size: 19px;

}
.list-text p{
    height: 58px;
    
}





.footer{
    background-color: #2E2B2B;
    color: #fff;
    height: 200px;
}
.footer p{
    margin: 0px;
    
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
    font-size: 14px;
}
.footer a{
    text-decoration: none;
    color:#fff;
}
.footer a:hover{
    color: #000;
    text-decoration: underline;
}

/*contact*/
#contact{
    width: 100%;

    
    background-image: url('img/bg.png');
     
 
    /* margin: 6% auto; */
}
.contact{
    text-align: center;

    width: 80%;
    margin: 4px auto;
   
    padding: 8% 0;
}   
.contact h1{
    text-align: center;

    font-family: sans-serif;
    font-size: 37px;
    font-weight: 400;
    margin: 0;
}
.in-form{
    padding: 10px;

    font-family: sans-serif;
    text-align: left;
    padding-left: 25%;
}
.in-form p{

}
.in-contact{
    width: 100%;

    height: 30px;
    margin-left: 10px;
    border: 1px solid #999;
}
.text-contact{
    margin-left: 10px;

    width: 100%;
    height: 120px;
    border: 1px solid #999;
}
.btn-contact{
    border: 1px solid #999;
    
    background-color: #999;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 36px;
    float: right;
    margin-right: 45%;
    margin-top: 10px;
}
.contact p {
    width: 50%;
    text-align: left;
    margin: 1% auto;
    color: #E21414;
}
.table p {
    margin: 0;
    width: 100%;
    color: #000;
}

/*about*/
#about{
    box-shadow: 1px 3px 4px 1px #ccc;
    width: 100%;
    margin-top: 5px;
    padding: 9px 0;
}
.about{
    width: 80%;
    margin: 0 auto;
    padding: 7% 0px;
}
.about-text{
    margin-left: 436px;

    width: 50%;
   
}
.about-text h1{
    font-size: 45px;

    font-weight: 200;
    color: #928787;
    margin: 0;
}
.about-text p{
    text-align: left;

    letter-spacing: 0px;
    font-size: 19px;
    font-weight: 100;
    color: #685F5F;
}
.about-text a{
    margin-right: 5px;
    
    color: #999;
    text-decoration: none;
    font-size: 20px;
}
.list_more {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.list_more a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    background-color: #999;
    padding: 17px;
    border-radius: 5px;
}
.list_more a:hover {
    color: #000;
}

/*responsive*/

@media only screen and (min-width: 150px) and (max-width: 600px){

.header{
    width: 100%;
    text-align: center;
    position: fixed;
}
.menu{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-left: -30px;
}
.menu li{
    display: inline;
    margin-left: 0px;
    width: 100%;
    height: 30px;
    padding: 20px 0 0 10px;
}
.menu li a{
    font-size: 14px;
   padding: 10px 0;
}
.menu li a:active{
    background-color: #575050;

}

.menu li a:hover{
    background-color: #575050;
    height: 30px;
   
    
}

#top{
    width: 100%;
    background-color: #fff;
    height: 303px;
    box-shadow: 1px 3px 4px 1px #ccc;
}

.content{
    font-family: arial, verdana;
    background-color: #fff;
    padding: 10% 0px 0 0;
    margin: 0px 1%;
    width: 90%;
   
    /* height: 329px; */
}
.content-text{
    margin-left: 4%;
    float: left;
    padding: 0;
    width: 90%;
}
.content-text h1{
    color: #928787;

    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0px;
    margin: 9px 0;
}
h1 strong{
    color: #181313;
    
}
.content-text p{
    color: #817676;
    font-size: 14px;
    text-align: left;
    /* height: 70px; */
    margin-bottom: 10px;
}
.content-text a{
    text-decoration: none;
    
    background-color: #999;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.content-text a:hover{
    color:#000;
}
.content-image{
    float: left;
    margin-left: 0px;
   
    
    
}
.content-image img{
    width: 100px;
}
.content-image .me{
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
}

/*list*/
#list{
    width: 100%;
    
    background-image: url('img/bg.png');
    box-shadow: 1px 3px 4px 1px #ccc;
}
.list-news{

    width: 90%;
    margin: 0px auto;
    padding: 40px 0;
    
}
.list-news h1{
    text-align: center;

    font-family: sans-serif;
    margin-top: 18px;
}
.list-news p{
    text-align: center;
    
    font-family: sans-serif;
    color: #615A5A;
    margin-bottom: 36px;
}

.box{
    width: 100%;
    
    height: 1350px;
    margin: 0;
    padding: 0;
}
.box-content{
    border: 1px solid #ccc;
    
    box-shadow: 1px 3px 4px 1px #ccc;
    padding: 1%;
}


.list-content{

    width: 100%;
    text-align: center;
    float: left;
    
  
    
  
    padding: 1% 1%;
}

.list-image{

}
.list-image img{
    width: 150px;

}
.list-text{

}
.list-text h1{

}
.list-text p{
    height: 58px;
    
}





/*about*/
#about{
    box-shadow: 1px 3px 4px 1px #ccc;
    width: 100%;
    margin-top: 5px;
    padding: 9px 0;
}
.about{
    width: 80%;
    margin: 0 auto;
    padding: 7% 0px;
}
.about-text{
    margin-left: 0px;
    text-align: left;
    width: 100%;
   
}
.about-text h1{

    font-size: 18px;

    font-weight: 200;
    color: #928787;
    margin: 0;
}
.about-text p{

    text-align: left;

    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 100;
    color: #685F5F;
}
.about-text a{
    margin-right: 5px;
    
    color: #999;
    text-decoration: none;
    font-size: 18px;
}

/*contact*/
#contact{
    width: 100%;

    
    background-image: url('img/bg.png');
    
}
.contact{
    text-align: center;

    width: 100%;
    margin: 4px auto;
   
    padding: 60px 0;
}   
.contact h1{
    text-align: center;

    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.in-form{
    padding: 0px;

    font-family: sans-serif;
    text-align: left;
    padding-left: 1%;
}
.in-form p{

}
.in-contact{
    width: 140px;

    height: 30px;
    margin-left: 0px;
}
.text-contact{
    margin-left: 0px;

    width: 140px;
    height: 178px;
}
.btn-contact{
    border: 1px solid #999;
    
    background-color: #999;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 36px;
    float: right;
    margin-right: 45%;
    margin-top: 10px;
}


.footer{
    background-color: #2E2B2B;
    color: #fff;
    height: 50px;
}
.footer p{
    margin: 0px;
    
    text-align: center;
    padding: 15px;
    font-family: sans-serif;
    font-size: 14px;
}

}

